<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de fornecedor</title>

    <link rel="stylesheet" href="/stylesheets/buscaFornecedor.css">
</head>
<body>
    <h1>Busca de fornecedores</h1>

    <div class="orientacao">
        <h4>Preencha pelo menos 1 dos campos abaixo com os dados solicitados.</h4> 
    </div>

    <div class="grandeCaixa">

        <div class="formulario">

            <form action="">

                <label for="nome">Busca pelo nome da empresa: </label>
                <input type="text" name="nome" id="nome"><br>

                <label for="cnpj">Busca pelo CNPJ:</label>
                <input type="number" name="cnpj" id="cnpj"><br>

                <label for="produto">Busca pelo tipo de produto:</label>
                <input type="text" name="produto" id="produto"> <br>

                <button type="reset">Limpar</button>
                <button type="submit">Buscar</button>

            </form>

        </div>

    </div>

    <div class="orientacao">
        <h5>Espaço reservado somente para consulta.</h5>
    </div>
    
</body>
</html>