<%- include('./partials/header.ejs') %>

    <link rel="stylesheet" href="/stylesheets/produtos.css">

    <body>
        <div class="container-principal">
            <h1>Listagem de produtos:</h1>
            <form action="/produtos/search" class="formulario" method="get">
                <input type="text" placeholder="Pesquise um produto" name="key">
                <button type="submit">Buscar</button>
            </form>
            <table class="tabela">
                <tr>
                    <th>Código</th>
                    <th>Nome do produto</th>
                    <th>Ações</th>
                </tr>
                <% produtos.forEach(produto=> { %>
                    <tr>
                        <td>
                            <%= produto.codigo %>
                        </td>
                        <td>
                            <%= produto.nome %>
                        </td>
                        <td><a href="/produtos/ver/<%= produto.id %>" class="botao">Editar</a></td>
                    </tr>
                    <% }) %>
            </table>
        </div>
    </body>