@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins'
}

.pesquisa {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-principal {
    margin: 50px;
    
}
h1 {
    padding: 15px;
}
.tabela {
    width: 90vw;
}


.tabela td {
    border-bottom: solid 1px black;
    padding: 20px;
}
.tabela th {
    border: solid 1px black;
    padding: 20px;
}

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

input, label {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;

}

input {
    border-bottom: 2px solid #099c22; 
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

#esqueceu-senha {
    text-align: right;
    display: block;

}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
    background-color: #099c22;
    cursor: pointer;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"]:hover {
    background-color: #1d792c;
    transition: 5s;
}

input[type="reset"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
    background-color: #099c22;
    cursor: pointer;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input[type="reset"]:hover {
    background-color: #1d792c;
    transition: 5s;
}

.pageItem {
    display: inline-block;
    padding: 5px;
}
.pageItem a {
    text-decoration: none;
}

.botao {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
    background-color: #099c22;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.botao:hover {
    background-color: #1d792c;
    transition: 5s;
}

a {
    text-decoration: none;    
    }

